name: Deploy to Elastic Beanstalk

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.9" # Use the Python version your Django app requires

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run migrations and create superuser
        run: |
          python manage.py migrate --noinput
          python manage.py shell <<EOF
          from django.contrib.auth import get_user_model
          User = get_user_model()
          if not User.objects.filter(username="admin").exists():
              User.objects.create_superuser("admin", "nisheshp20@gmail.com", "Nishesh@@123")
              print("Superuser created successfully")
          else:
              print("Superuser already exists")
          EOF

      - name: Collect static files
        run: python manage.py collectstatic --noinput

      - name: Install or Update AWS CLI
        run: |
          if aws --version; then
            echo "AWS CLI already installed, updating..."
            curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
            unzip -o awscliv2.zip
            sudo ./aws/install --update
          else
            echo "Installing AWS CLI..."
            curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
            unzip awscliv2.zip
            sudo ./aws/install
          fi

      - name: Install AWS Elastic Beanstalk CLI
        run: |
          pip install awsebcli --upgrade --user
          echo "$HOME/.local/bin" >> $GITHUB_PATH

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v3
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Initialize Elastic Beanstalk
        run: eb init demo --platform "Python 3.9" --region ${{ secrets.AWS_REGION }}

      - name: Deploy to Elastic Beanstalk
        run: eb deploy Demo-env
